.table {
  th, td {
    vertical-align: middle;
  }
}

.btn-group {
  .btn {
    padding: 0.375rem 0.75rem;
    min-width: 100px;
    
    &:not(:last-child) {
      margin-right: 5px;
    }
  }
}

.archived-formation {
  opacity: 0.6;
}
