<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h2>Predicted Lineups</h2>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <div class="list-group">
        <a 
          *ngFor="let tour of tours" 
          [routerLink]="['/predicted-lineups', tour.id]"
          class="list-group-item list-group-item-action"
        >
          <h5 class="mb-1">Tour {{ tour.number }}</h5>
          <p class="mb-1">
            {{ tour.startDate | date }} - {{ tour.endDate | date }}
          </p>
          <small>Status: {{ tour.status }}</small>
        </a>
      </div>
    </div>
  </div>
</div> 