<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h2>Formations</h2>
      
      <div class="row mt-4">
        <!-- Formation List -->
        <div class="col-md-3">
          <div class="list-group">
            <button 
              *ngFor="let formation of formations"
              class="list-group-item list-group-item-action"
              [class.active]="selectedFormation?.id === formation.id"
              (click)="selectFormation(formation)">
              {{ formation.name }}
            </button>
          </div>
        </div>

        <!-- Formation Display -->
        <div class="col-md-9" *ngIf="selectedFormation">
          <div class="card">
            <div class="card-header">
              <h4>{{ selectedFormation.name }}</h4>
            </div>
            <div class="card-body">
              <div class="football-field">
                <ul class="formation-layout">
                  <!-- Forwards -->
                  <li class="formation-row forwards">
                    <div class="player" *ngFor="let pos of getPositionsByType('forwards')">
                      {{ pos.shortName }}
                    </div>
                  </li>
                  <!-- Attacking Midfielders -->
                  <li class="formation-row attacking-midfielders">
                    <div class="player" *ngFor="let pos of getPositionsByType('attacking-midfielders')">
                      {{ pos.shortName }}
                    </div>
                  </li>
                  <!-- Midfielders -->
                  <li class="formation-row midfielders">
                    <div class="player" *ngFor="let pos of getPositionsByType('midfielders')">
                      {{ pos.shortName }}
                    </div>
                  </li>
                  <!-- Defenders -->
                  <li class="formation-row defenders">
                    <div class="player" *ngFor="let pos of getPositionsByType('defenders')">
                      {{ pos.shortName }}
                    </div>
                  </li>
                  <!-- Goalkeeper -->
                  <li class="formation-row goalkeeper">
                    <div class="player" *ngFor="let pos of getPositionsByType('goalkeeper')">
                      {{ pos.shortName }}
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 